footer
    border-top 4px solid $azul
    padding 25px 0
    .center
        clearfix()
    .links
        float left
        min-width 150px
        +below($tablet)
            display none
        a
            display block
            quicksand 14
            color $azul
            &:hover
                color #000
            + a
                margin-top 3px
        .social
            display block
            font-size 0
            margin-top 10px
            a
                display inline-block
                width 17px
                height 17px
                margin 0
                margin-right 2px
                transition transform .3s
                text-indent -9999px
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background $img('face.png') no-repeat center
                &.instagram
                    background $img('insta.png') no-repeat center
                &.youtube
                    background $img('youtube.png') no-repeat center
        + .links
            width 200px
    form
        width 280px
        float left
        +below($tablet)
            display none
        clearfix()
        input[type=text]
        input[type=email]
            display block
            width 100%
            height 20px
            border 0
            outline 0
            background #E1EAF3
            color #000
            opensans 12 normal italic
            padding 0 5px
            margin 0 0 2px
            +placeholder()
                color rgba($azul, .8)
        input[type=submit]
            float right
            opensans 12
            color $laranja
            background $azul
            cursor pointer
            padding 5px 20px
            border 0
            outline 0
            transition background .3s, color .3s
            &:hover
                background $laranja
                color $azul
        #form-contato-footer-response
            width 100%
            display none
            margin-bottom 2px
            opensans 11
            padding 8px
            background rgba($laranja, .5)
            border 1px solid $laranja
            text-align center
            text-transform uppercase
            color $azul
    .info
        float left
        margin-left 55px
        max-width 200px
        +below($tablet)
            margin 0
        img
            width 180px
            display block
            margin-bottom 12px
        p.telefone
            opensans 18 bold
            color $azul
            margin 0 0 5px
        p.endereco
            opensans 12
            color $azul
            margin 0
    .copyright
        float right
        +mobile()
            width 100%
            border-top 1px solid rgba($azul, .2)
            margin-top 15px
            padding-top 15px
        p
            opensans 10
            margin 0
            color $azul
            + p
                margin-top 10px
            a:hover
                color #000
