header
    width 100%
    height 110px
    background #fff
    +below($tablet)
        height 90px
    .center
        clearfix()
        height 100%
    .logo
        width 260px
        height 100%
        display block
        float left
        background $img('logo.png') no-repeat center
        text-indent -9999px
        +below($tablet)
            background-size auto 67px
            background-position center left
    #desktop
        float right
        height 100%
        +below($tablet)
            display none
        > a
            display block
            float left
            quicksand 14
            line-height 110px
            transition background .3s, color .3s
            padding 0 15px
            color $azul
            &:hover
            &.active
                color #fff
                background $azul
        .social
            display block
            font-size 0
            height 100%
            float left
            margin-left 15px
            padding-top 46px
            a
                display inline-block
                width 17px
                height 17px
                margin 0
                margin-right 2px
                transition transform .3s
                text-indent -9999px
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background $img('face.png') no-repeat center
                &.instagram
                    background $img('insta.png') no-repeat center
                &.youtube
                    background $img('youtube.png') no-repeat center
    #mobile-toggle
        +above($tablet)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        cursor pointer
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 2px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                border-radius 2px
                background $azul
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-mobile
        +above($tablet)
            display none !important
        display none
        background $azul
        padding 25px 0
        position relative
        z-index 102
        box-shadow 0 4px 4px rgba(#000, .2)
        text-align center
        > a
            display block
            quicksand 15
            color $laranja
            margin 0 0 5px
            &.active
                color #fff
        .social
            width 100%
            margin-top 20px
            text-align center
            font-size 0
            a
                display inline-block
                width 17px
                height 17px
                margin 0 1px 0
                transition transform .3s
                text-indent -9999px
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background $img('face.png') no-repeat center
                &.instagram
                    background $img('insta.png') no-repeat center
                &.youtube
                    background $img('youtube.png') no-repeat center
