desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 710px
rupture.anti-overlap   = -1px

$azul    = #2766A9
$laranja = #F5AB32

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Quicksand|Ubuntu+Condensed')

opensans($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == bold
        font-weight 700

quicksand($size)
    font-size $size + 0px
    font-family 'Quicksand', 'Helvetica', 'Arial', sans-serif
    font-weight 400

ubuntu($size)
    font-size $size + 0px
    font-family 'Ubuntu Condensed', 'Helvetica', 'Arial', sans-serif
    font-weight 400
