.contato
    padding-top 65px
    padding-bottom 135px
    overflow hidden
    +tablet()
        padding-top 40px
    +mobile()
        padding-top 25px
        padding-bottom 25px
    .center
        clearfix()
    .left
        width 50%
        float left
        position relative
        padding-top 430px
        +mobile()
            width 100%
            padding-top 25px
        .mapa
            position absolute
            width 960px
            height 420px
            top 0
            right 0
            +tablet()
                width 100%
            +mobile()
                width 100%
                position relative
                height 300px
                margin-bottom 12px
            iframe
                display block
                width 100%
                height 100%
            &:after
                content ''
                position absolute
                width 186px
                height 198px
                right -36px
                bottom -166px
                background $img('logo-contato.png') no-repeat center
                +mobile()
                    display none
        p
            opensans 16 bold italic
            color $azul
            margin 0
            padding-right 155px
            +mobile()
                font-size 15px
                padding 0
    .right
        width 42%
        float right
        > p
            ubuntu 38
            color $azul
            margin 0 0 45px
            line-height 1
        form
            p
                ubuntu 24
                color $azul
                margin 0 0 12px
            input[type=text]
            input[type=email]
            textarea
                display block
                width 100%
                height 26px
                border 0
                outline 0
                background #E1EAF3
                color #000
                opensans 16 normal italic
                padding 0 5px
                margin 0 0 4px
                +placeholder()
                    color rgba($azul, .8)
            textarea
                resize none
                height 180px
                padding 4px 5px
            input[type=submit]
                display block
                width 100%
                opensans 16 bold
                background $laranja
                color #fff
                cursor pointer
                padding 10px
                border 0
                outline 0
                transition background .3s
                &:hover
                    background $azul
            #form-contato-response
                width 100%
                display none
                margin-bottom 4px
                opensans 12
                padding 8px
                background rgba($laranja, .5)
                border 1px solid $laranja
                text-align center
                text-transform uppercase
                color $azul
        +mobile()
            width 100%
            > p
                font-size 28px
                margin-bottom 25px
            form
                p
                    font-size 18px
                input[type=text]
                input[type=email]
                textarea
                    font-size 14px
                textarea
                    height 140px
