.empresa
    .center
        clearfix()
    .textos
        overflow hidden
        padding 65px 0
        +tablet()
            padding 40px 0
        +mobile()
            padding 25px 0
        .left
            width 50%
            float left
            .imagem
                position relative
                img
                    display block
                    margin-left -360px
                &:after
                    content ''
                    position absolute
                    width 369px
                    height 394px
                    right -40px
                    bottom -80px
                    background $img('logo-branco-empresa.png') no-repeat center
                    z-index 2
            .texto
                padding-top 80px
                text-align center
                h3
                    color $laranja
                    opensans 24 bold
                    margin 0
                p
                    opensans 18
                    margin 10px auto 0
                    max-width 360px
                p + h3
                    margin-top 40px
            +tablet()
                .imagem
                    img
                        width 100%
                        margin 0
                    &:after
                        width 100px
                        height 100px
                        background-size auto 100%
                        right -20px
                        bottom -20px
                .texto
                    padding-top 20px
                    h3
                        font-size 22px
                    p
                        font-size 16px
                        max-width 90%
                    p + h3
                        margin-top 25px
            +mobile()
                width 100%
                padding-bottom 25px
                .imagem
                    img
                        width 100%
                        margin 0 0 20px
                    &:after
                        display none
                .texto
                    padding-top 0
                    text-align left
                    h3
                        font-size 20px
                    p
                        font-size 15px
                        max-width 100%
                        + h3
                            margin-top 20px
        .right
            width 50%
            float right
            .texto
                background $azul
                padding 45px 55px
                position relative
                min-height 420px
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 960px
                    height 100%
                    z-index -1
                    background $azul
                p
                    opensans 18
                    color #fff
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
            +tablet()
                .texto
                    padding 35px
                    min-height auto
                    &:after
                        display none
                    p
                        font-size 16px
                img
                    width 100%
            +mobile()
                width 100%
                img
                    width 100%
                .texto
                    padding 25px
                    min-height auto
                    &:after
                        display none
                    p
                        font-size 15px
    .quadros
        background #EBECF0
        padding 50px 0 65px
        +tablet()
            padding 35px 0 40px
        +mobile()
            padding 25px 0
        h2
            ubuntu 24
            color $azul
            margin 0 0 20px
            text-align center
            +mobile()
                font-size 20px
        .quadro
            display block
            width 100%
            background #fff
            border-radius 10px
            padding 50px
            clearfix()
            + .quadro
                margin-top 15px
            .texto
                width 52%
                float left
                h4
                    opensans 16 bold
                    color $azul
                    margin 0 0 10px
                p
                    opensans 16
                    margin 0
            > img
            .imagens
                display block
                width 42%
                float right
            .imagens
                font-size 0
                img
                    display inline-block
                    vertical-align top
                    margin-right 10px
                    margin-bottom 10px
            +tablet()
                padding 30px
                .imagens img
                    max-height 45px
            +mobile()
                padding 20px
                .texto
                    width 100%
                    margin-bottom 15px
                    h4
                    p
                        font-size 15px
                > img
                .imagens
                    width 100%
                .imagens img
                    max-height 40px
