.home header
    position absolute
    top 0
    z-index 101
    background rgba(#fff, .85)

.home-areas
    .banners
        width 100%
        height 658px
        position relative
        .slide
            position absolute
            width 100%
            height 100%
            background-size cover
            background-position center
            .center
                padding-top 160px
                text-align right
                p
                    margin 0
                    ubuntu 28
                    color #fff
                    line-height 1.1
                    text-shadow 0 0 6px rgba(#000, .5)
                    strong
                        font-size 1.9em
                        font-weight normal
        +tablet()
            height 550px
            .slide
                .center
                    padding-top 125px
                    p
                        font-size 26px
        +mobile()
            height 350px
            .slide
                .center
                    padding-top 110px
                    p
                        font-size 20px
    .chamadas
        position relative
        margin-top -180px
        z-index 100
        .center
            display flex
            font-size 0px
            text-align center
            justify-content center
            .chamada
                display inline-block
                width 320px
                margin 0 10px
                background $laranja
                text-align center
                position relative
                padding 92px 40px 30px
                img
                    position absolute
                    left 50%
                    top -24px
                    left 50%
                    margin-left -50px
                    width 100px
                    height 100px
                    border-radius 100%
                h3
                    ubuntu 32
                    color #fff
                    margin 0
                p
                    opensans 16
                    margin 15px 0 0
        +tablet()
            .center .chamada
                padding-left 25px
                padding-right 25px
                h3
                    font-size 28px
                p
                    opensans 15px
        +mobile()
            margin-top -50px
            .center
                display block
                .chamada
                    width 100%
                    display block
                    margin 0 0 45px
                    padding-left 25px
                    padding-right 25px
                    padding-bottom 20px
                    &:last-child
                        margin-bottom 0
                    h3
                        font-size 24px
                    p
                        opensans 15px
    .abertura
        text-align center
        padding 50px 0 65px
        h2
            ubuntu 32
            color $azul
            margin 0 0 .8em
        p
            opensans 16
            margin 0 auto .8em
            max-width 700px
            &:last-child
                margin-bottom 0
        +tablet()
            padding 40px 0 45px
        +mobile()
            padding 35px 0 30px
            h2
                font-size 28px
            p
                opensans 15px
    .como-funciona
        background $img('como-funciona.jpg') no-repeat center $azul
        background-size cover
        padding 55px 0 65px
        position relative
        &:after
            content ''
            position absolute
            width 100%
            height 100%
            background rgba($azul, .4)
            top 0
            left 0
        h2
            line-height 1
            ubuntu 48
            color #fff
            margin 0 0 30px
            text-align center
            position relative
            z-index 2
        .video
            position relative
            z-index 2
            width 100%
            max-width 720px
            margin 0 auto
            .embed-video
                position relative
                padding-bottom 56.25%
                height 0
                overflow hidden
                max-width 100%
                iframe
                    position absolute
                    top 0
                    left 0
                    width 100%
                    height 100%
        .creditos
            display block
            margin 15px auto 0
            max-width 720px
            opensans 14 normal italic
            color #fff
            text-align center
            position relative
            z-index 2
            text-shadow 0 1px 1px rgba(#000, .35)
            +mobile()
                font-size 12px
        +tablet()
            padding 40px 0 45px
            h2
                font-size 36px
        +mobile()
            padding 25px 0 30px
            h2
                font-size 30px
                margin-bottom 25px
    .retorno
        background $laranja
        padding 55px 0
        text-align center
        h3
            ubuntu 28
            color #fff
            line-height 1
            margin 0 0 30px
        +tablet()
            padding 40px 0
            h3
                font-size 24px
                margin-bottom 25px
        +mobile()
            padding 25px 0
            h3
                font-size 22px
                margin-bottom 20px
        .infografico
            +mobile()
                display block
                div
                    opensans 15
                    &:nth-child(2)
                        font-weight bold
                    + div
                        margin-top 15px
            +tablet()
                display block
                width 100%
                clearfix()
                div
                    width 33.333%
                    float left
                    opensans 16
                    &:nth-child(2)
                        font-weight bold
                        position relative
                        &:before
                        &:after
                            content ''
                            position absolute
                            width 30px
                            height 100%
                            top 0
                            background $img('setas.png') no-repeat center 10px
                            background-size 100% auto
                        &:before
                            left -40px
                        &:after
                            right -40px
                    &:nth-child(1)
                        padding-right 60px
                    &:nth-child(3)
                        padding-left 60px
            +above($tablet)
                width 920px
                height 158px
                margin 0 auto
                position relative
                div
                    line-height 1.5
                    opensans 16
                    &:nth-child(1)
                    &:nth-child(3)
                        position absolute
                        width 195px
                        opensans 16
                        text-align center
                        top 45px
                    &:nth-child(1)
                        left 0
                    &:nth-child(3)
                        right 0
                    &:nth-child(2)
                        position absolute
                        left 210px
                        top 0
                        width 500px
                        height 100%
                        background $img('borda.png') no-repeat center
                        span
                            width 245px
                            position absolute
                            left 50%
                            top 45px
                            margin-left -122px
                            font-weight bold
                        &:before
                        &:after
                            content ''
                            position absolute
                            width 100px
                            height 58px
                            background $img('setas.png') no-repeat center
                            top 49px
                        &:before
                            left 0
                        &:after
                            right 0
    .texto-secundario
        padding 65px 0
        .center
            clearfix()
        .texto
            width 42%
            float left
            p
                opensans 16
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
                a
                    display inline-block
                    ubuntu 20
                    color #fff
                    background $azul
                    transition background .3s, color .3s
                    padding 20px 40px
                    margin-top .7em
                    &:hover
                        background $laranja
                        color $azul
        img
            width 50%
            float right
            display block
        +tablet()
            padding 40px 0
            .texto
                width 55%
            img
                width 40%
        +mobile()
            padding 25px 0
            .texto
                width 100%
                p
                    font-size 15px
                    a
                        font-size 16px
                        padding 14px 24px
            img
                width 100%
                margin-top 30px
    .utilizacoes
        background #EBECF0
        padding 55px 0 15px
        text-align center
        h3
            ubuntu 24
            line-height 1
            color $azul
            margin 0 0 30px
        .utilizacoes-lista
            font-size 0
            div
                display inline-block
                vertical-align top
                width calc('33.333% - 20px')
                margin-right 30px
                margin-bottom 45px
                img
                    width 100%
                    display block
                span
                    text-align center
                    margin-top 8px
                    opensans 18 bold
                    color $azul
                    display block
                    line-height 1.4
                &:nth-child(3n)
                    margin-right 0
        +tablet()
            padding 40px 0 10px
            .utilizacoes-lista
                div span
                    font-size 16px
        +mobile()
            padding 25px 0 5px
            h3
                font-size 20px
                margin-bottom 20px
            .utilizacoes-lista
                div
                    width calc('50% - 20px')
                    margin-right 20px
                    margin-bottom 30px
                    &:nth-child(3n)
                        margin-right 20px
                    &:nth-child(2n)
                        margin-right 0
                    span
                        font-size 14px
