.produtos
    padding 65px 0
    +tablet()
        padding 40px 0
    +mobile()
        padding 25px 0
    .center
        clearfix()
    .texto
        width 47%
        float left
        h2
            ubuntu 22
            color $azul
            margin 0 0 10px
        p
            margin 0 0 .5em
            opensans 16
            &:last-child
                margin-bottom 0
        +mobile()
            width 100%
            h2
                font-size 20px
            p
                font-size 15px
    .orcamento
        width 49%
        float right
        background $laranja
        padding 30px
        +mobile()
            width 100%
            padding 20px
            margin-top 25px
        form
            width 100%
            p
                ubuntu 24
                color #fff
                margin 0 0 12px
                line-height 1
            input[type=text]
            input[type=email]
            textarea
                display block
                width 100%
                height 26px
                border 0
                outline 0
                background rgba(#fff, .2)
                color #000
                opensans 16 normal italic
                padding 0 5px
                margin 0 0 4px
                +placeholder()
                    color rgba(#000, .5)
            textarea
                resize none
                height 80px
                padding 4px 5px
            input[type=submit]
                display block
                width 100%
                opensans 16 bold
                background #fff
                color #000
                cursor pointer
                padding 10px
                border 0
                outline 0
                transition background .3s, color .3s
                &:hover
                    background $azul
                    color #fff
            .erro
                width 100%
                margin-bottom 4px
                opensans 12
                padding 8px
                background rgba(#fff, .5)
                border 1px solid $azul
                text-align center
                text-transform uppercase
                color $azul
            +mobile()
                p
                    font-size 18px
                input[type=text]
                input[type=email]
                textarea
                    font-size 14px
        .enviado
            text-align center
            ubuntu 24
            color $azul
            margin 0
            +mobile()
                font-size 20px
    .produtos-lista
        width 100%
        float left
        margin-top 30px
        font-size 0
        display flex
        flex-wrap wrap
        +mobile()
            margin-top 25px
        .produto
            display inline-block
            vertical-align top
            width 49%
            margin-right 2%
            margin-bottom 2%
            &:nth-child(2n)
                margin-right 0
            border 1px solid rgba($azul, .5)
            transition border .3s
            &:hover
                border 1px solid $azul
            padding 20px
            clearfix()
            +mobile()
                width 100%
                margin-right 0
                padding 12px
            img
                float left
                width 34.8%
                display block
            .texto
                width 60%
                float right
                p
                    margin 0
                    opensans 20 bold
                    color $azul
                    line-height 1.2
                    +tablet()
                        font-size 18px
                    +mobile()
                        font-size 16px
                a
                    display block
                    margin-top 12px
                    background $img('download.png') no-repeat 10px center $azul
                    ubuntu 15
                    color #fff
                    padding 10px
                    padding-left 40px
                    transition background .3s, color .3s
                    &:hover
                        background-color $laranja
                        color $azul
