.servicos
    padding-top 65px
    overflow hidden
    +tablet()
        padding-top 40px
    +mobile()
        padding-top 25px
    .center
        clearfix()
    .left
        width 50%
        float left
        .imagem
            position relative
            img
                display block
                margin-left -360px
            &:after
                content ''
                position absolute
                width 369px
                height 394px
                right -40px
                bottom -80px
                background $img('logo-branco-empresa.png') no-repeat center
                z-index 2
        .orcamento
            padding 80px 0 40px
            padding-right 100px
            +tablet()
                padding-right 60px
                padding-top 30px
                padding-bottom 30px
            h3
                ubuntu 24
                color $azul
                margin 0 0 .8em
            p
                opensans 16 bold italic
                color $azul
                margin 0 0 1.2em
            +mobile()
                padding-right 0
                padding-top 10px
                padding-bottom 25px
                h3
                    font-size 20px
                p
                    font-size 14px
            .enviado
                background $laranja
                padding 20px
                text-align center
                ubuntu 24
                color $azul
                margin 0
                +mobile()
                    font-size 20px
            form
                .erro
                    width 100%
                    margin-bottom 4px
                    opensans 12
                    padding 8px
                    background rgba($laranja, .5)
                    border 1px solid $laranja
                    text-align center
                    text-transform uppercase
                    color $azul
                input[type=text]
                input[type=email]
                textarea
                select
                    display block
                    width 100%
                    height 26px
                    border 0
                    outline 0
                    background #E1EAF3
                    color #000
                    opensans 16 normal italic
                    padding 0 5px
                    margin 0 0 4px
                    +placeholder()
                        color rgba($azul, .8)
                select
                    color $azul
                textarea
                    resize none
                    height 180px
                    padding 4px 5px
                input[type=submit]
                    display block
                    width 100%
                    opensans 16 bold
                    background $laranja
                    color #fff
                    cursor pointer
                    padding 10px
                    border 0
                    outline 0
                    transition background .3s
                    &:hover
                        background $azul
                .btn-conta
                    background #E1EAF3
                    display block
                    border 1px solid $azul
                    cursor pointer
                    position relative
                    margin-bottom 4px
                    height 40px
                    overflow hidden
                    &.active
                        background $azul
                        span
                            color #fff
                    span
                        width 100%
                        display block
                        opensans 16 normal italic
                        line-height 40px
                        color $azul
                        text-align center
                        white-space nowrap
                    &.active span
                        font-size 14px
                    input
                        cursor pointer
                        position absolute
                        width 100%
                        height 100%
                        top 0
                        left 0
                        right 0
                        bottom 0
                        padding 0
                        opacity 0
                        cursor pointer
                        z-index 2
                +mobile()
                    input[type=text]
                    input[type=email]
                    textarea
                    select
                    .btn-conta span
                        font-size 14px
                    textarea
                        height 140px
        .financiamentos
            padding-right 100px
            padding-bottom 60px
            +tablet()
                padding-bottom 40px
                padding-right 60px
            +mobile()
                padding-bottom 0
            font-size 0
            h4
                opensans 18 bold
                color $azul
                margin 0 0 15px
            img
                display inline-block
                vertical-align top
                margin-right 10px
                margin-bottom 10px
            +tablet()
                padding-right 80px
                img
                    max-height 45px
            +mobile()
                padding-right 0
                h4
                    font-size 16px
                img
                    max-height 40px
        +tablet()
            .imagem
                img
                    width 100%
                    margin 0
                &:after
                    width 100px
                    height 100px
                    background-size auto 100%
                    right -20px
                    bottom -20px
        +mobile()
            width 100%
            padding-bottom 25px
            .imagem
                img
                    width 100%
                    margin 0 0 20px
                &:after
                    display none
    .right
        width 50%
        float right
        +mobile()
            width 100%
        .texto-principal
            background $azul
            padding 45px 55px
            position relative
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 960px
                height 100%
                z-index -1
                background $azul
            p
                opensans 18
                color #fff
                &:first-child
                    margin-top 0
                &:last-child
                    margin-bottom 0
            h3
                ubuntu 22
                color #fff
                margin 2em 0 1em
            ol
                padding 0
                counter-reset item
                list-style none
                margin-top 20px
                li
                    opensans 16
                    color #fff
                    counter-increment item
                    padding-left 50px
                    padding-top 12px
                    min-height 40px
                    margin-bottom 12px
                    position relative
                    &:before
                        content counter(item)'\00ba'
                        position absolute
                        top 0
                        left 0
                        width 40px
                        height 40px
                        background $laranja
                        line-height 40px
                        text-align center
                        border-radius 100%
                        opensans 18 bold
            +tablet()
                padding 35px
            +mobile()
                padding 25px
                p
                    font-size 16px
                h3
                    font-size 20px
                ol li
                    font-size 15px
                &:after
                    display none
        .texto-secundario
            padding 45px 55px
            h3
                ubuntu 36
                color $laranja
                margin 0 0 .5em
            p
                opensans 18
                color $azul
                margin-top 0
                &:last-child
                    margin-bottom 0
            +tablet()
                padding 35px
            +mobile()
                padding 25px
                h3
                    font-size 28px
                p
                    font-size 16px
        .rodape
            background $laranja
            padding 45px 55px
            position relative
            &:after
                content ''
                position absolute
                top 0
                left 0
                width 960px
                height 100%
                z-index -1
                background $laranja
            p
                opensans 16
                margin 0
                color #fff
                em
                    opensans 13 normal italic
                a
                    text-decoration underline
            +tablet()
                padding 35px
            +mobile()
                padding 25px
                &:after
                    display none
                p
                    font-size 15px
